In [1]:
import pandas as pd
from pathlib import Path
import numpy as np

In [2]:
# find root 
root = Path.cwd().parent

# build path to VIX data
vix_path = root / "data" / "external" / "VIX_History.csv"

# load data
df = pd.read_csv(vix_path)

In [3]:
df2 = pd.read_csv(r"C:\Users\PC\Desktop\Masterarbeit\AI_narrative_index\data\processed\variables\n_articles.csv")
df2

     Unnamed: 0        date  n_articles
0             0  2023-01-03           2
1             1  2023-01-05           1
2             2  2023-01-06           2
3             3  2023-01-08           1
4             4  2023-01-09           5
..          ...         ...         ...
848         848  2025-06-12          36
849         849  2025-06-13          30
850         850  2025-06-14           8
851         851  2025-06-15          11
852         852  2025-06-16          15

[853 rows x 3 columns]

In [4]:
# inspect data
df

            DATE   OPEN   HIGH    LOW  CLOSE
0     01/02/1990  17.24  17.24  17.24  17.24
1     01/03/1990  18.19  18.19  18.19  18.19
2     01/04/1990  19.22  19.22  19.22  19.22
3     01/05/1990  20.11  20.11  20.11  20.11
4     01/08/1990  20.26  20.26  20.26  20.26
...          ...    ...    ...    ...    ...
8999  08/25/2025  15.05  15.19  14.24  14.79
9000  08/26/2025  15.75  15.75  14.62  14.62
9001  08/27/2025  14.66  15.23  14.66  14.85
9002  08/28/2025  14.42  14.69  14.12  14.43
9003  08/29/2025  14.31  15.97  14.31  15.36

[9004 rows x 5 columns]

In [5]:
# convert to datetime
df["date"] = pd.to_datetime(df["DATE"], format="%m/%d/%Y")

# Convert as string
df["date"] = df["date"].dt.strftime("%Y-%m-%d")

# verify
df["date"].head()

0    1990-01-02
1    1990-01-03
2    1990-01-04
3    1990-01-05
4    1990-01-08
Name: date, dtype: object

In [6]:
# drop all but close
drop_col = ["OPEN","HIGH","LOW","DATE"]

# drop cols
df_sub = df.drop(drop_col,axis=1)

# subset for April 2023 - July 2025
df_sub = df_sub[(df_sub["date"] >= "2023-04-01") & (df_sub["date"] < "2025-06-16")]

In [7]:
# calc log growth
df_sub["log_growth_closed"] = np.log(df_sub["CLOSE"]) - np.log(df_sub["CLOSE"].shift(1))
df_sub

      CLOSE        date  log_growth_closed
8381  18.55  2023-04-03                NaN
8382  19.00  2023-04-04           0.023969
8383  19.08  2023-04-05           0.004202
8384  18.40  2023-04-06          -0.036290
8385  18.97  2023-04-10           0.030508
...     ...         ...                ...
8944  17.16  2025-06-09           0.022990
8945  16.95  2025-06-10          -0.012313
8946  17.26  2025-06-11           0.018124
8947  18.02  2025-06-12           0.043091
8948  20.82  2025-06-13           0.144432

[568 rows x 3 columns]

In [8]:
# define output path
out_path = root / "data" / "processed" / "variables" / "log_growth_VIX.csv"

# write to out_path
df_sub.to_csv(out_path, index=False)
out_path

WindowsPath('c:/Users/PC/Desktop/Masterarbeit/AI_narrative_index/data/processed/variables/log_growth_VIX.csv')